<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {% endblock %}
        


    </head>
    <body>
        <style>
            nav {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                margin-bottom: 50px;
                padding: 10px;
            }

            nav a {
                text-decoration: none;
                color: black;
                font-weight: bold;
            }

            .cards {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
            }

            .card {
                border: 1px solid black;
                border-radius: 15px;
                padding: 10px 30px;
                margin: 10px;
            }

            h1 {
                text-align: center;
            }
        </style>
        {% include 'header.html.twig' %}
        {% block body %}{% endblock %}
    </body>
</html>