{% extends 'base.html.twig' %}

{% block title %}Hello SubscriptionController!{% endblock %}

{% block body %}
<style>
   .carte {
    border-color: greenyellow;
    padding: 10px;
   }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    <ul>
        {% for subscription in subscriptions %}
        <div class="carte">
        <li>{{ subscription.title }}</li>
        <form method="post" action="{{path('subscription_validation')}}">
            <input type="hidden" name="title" value="{{ subscription.title }}">
            {% if currentSubscription == subscription.title %}
            <p>Abonnement actuel</p>
            {% else %}
            <button type="submit">S'abonner</button>
            {% endif %}

        </form>
        </div>
            <!-- Afficher d'autres informations sur l'abonnement si nécessaire -->
        {% endfor %}
    </ul>

</div>
{% endblock %}
